<nz-page-header>
  <nz-page-header-title>Danh sách bệnh nhân</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="addCreatePatient()">
      <span nz-icon nzType="plus-circle"></span>Thêm mới
    </button>
  </nz-page-header-extra>
</nz-page-header>
<nz-table #basicTable [nzData]="dataSet"
#rowSelectionTable
nzShowPagination="false">
  <thead>
    <tr>
      <th nzWidth="50px" nzAlign="center">STT</th>
      <th nzWidth="100px" nzAlign="center">Mã số phiếu</th>
      <th nzWidth="200px" nzAlign="center">Họ và tên</th>
      <th nzWidth="120px" nzAlign="center">Ngày sinh</th>
      <th nzWidth="120px" nzAlign="center">Giới tính</th>
      <th nzWidth="120px" nzAlign="center">Số điện thoại</th>
      <th nzWidth="120px" nzAlign="center">Địa chỉ</th>
      <th nzWidth="120px" nzAlign="center">Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; index as i" (dblclick)="detailPatient()">
      <td nzAlign="center">{{ i + 1 }}</td>
      <td nzAlign="center">{{ data.serviceCode }}</td>
      <td nzAlign="center">{{ data.serviceName }}</td>
      <td nzAlign="center">{{ data.price }}</td>
      <td nzAlign="center"><label nz-checkbox></label></td>
    </tr>
  </tbody>
</nz-table>
<router-outlet></router-outlet>
