.layout {
  min-height: 100vh;
}

nz-form-label {
  overflow: visible;
  width: 100px;
  text-align: left;
}
nz-page-header{
  border-radius: 15px;
}
.inner-content {
  margin: auto;
  background-color: #fff;
  border-radius: 15px;
}
